<html>
  <head>
  <script src="https://kit.fontawesome.com/1f8248f6da.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <h2><i class="fas fa-chess"></i> Chess v0.1</h2>
    <table id="board">
      <tr id="board-border">
        <th class="no-border"></th>
        <th>a</th>
        <th>b</th>
        <th>c</th>
        <th>d</th>
        <th>e</th>
        <th>f</th>
        <th>g</th>
        <th>h</th>
      </tr>
      <tr>
        <th class="place">1</th>
        <th class="white-square" id="oneA"><i class="fas fa-chess-rook" id="white-piece"></i></th>
        <th class="black-square"><i class="fas fa-chess-knight" id="white-piece"></i></th>
        <th class="white-square"><i class="fas fa-chess-bishop" id="white-piece"></i></th>
        <th class="black-square"><i class="fas fa-chess-king" id="white-piece"></i></th>
        <th class="white-square"><i class="fas fa-chess-queen" id="white-piece"></i></th>
        <th class="black-square"><i class="fas fa-chess-bishop" id="white-piece"></i></th>
        <th class="white-square"><i class="fas fa-chess-knight" id="white-piece"></i></th>
        <th class="black-square"><i class="fas fa-chess-rook" id="white-piece"></i></th>
      </tr>
      <tr>
        <th class="place">2</th>
        <th class="black-square"><i class="fas fa-chess-pawn" id="white-piece"></i></th>
        <th class="white-square"><i class="fas fa-chess-pawn" id="white-piece"></i></th>
        <th class="black-square"><i class="fas fa-chess-pawn" id="white-piece"></i></th>
        <th class="white-square"><i class="fas fa-chess-pawn" id="white-piece"></i></th>
        <th class="black-square"><i class="fas fa-chess-pawn" id="white-piece"></i></th>
        <th class="white-square"><i class="fas fa-chess-pawn" id="white-piece"></i></th>
        <th class="black-square"><i class="fas fa-chess-pawn" id="white-piece"></i></th>
        <th class="white-square"><i class="fas fa-chess-pawn" id="white-piece"></i></th>
      </tr>
      <tr>
        <th class="place">3</th>
        <th class="white-square"></th>
        <th class="black-square"></th>
        <th class="white-square"></th>
        <th class="black-square"></th>
        <th class="white-square"></th>
        <th class="black-square"></th>
        <th class="white-square"></th>
        <th class="black-square"></th>
      </tr>
      <tr>
        <th class="place">4</th>
        <th class="black-square"></th>
        <th class="white-square"></th>
        <th class="black-square"></th>
        <th class="white-square"></th>
        <th class="black-square"></th>
        <th class="white-square"></th>
        <th class="black-square"></th>
        <th class="white-square"></th>
      </tr>
      <tr>
        <th class="place">5</th>
        <th class="white-square"></th>
        <th class="black-square"></th>
        <th class="white-square"></th>
        <th class="black-square"></th>
        <th class="white-square"></th>
        <th class="black-square"></th>
        <th class="white-square"></th>
        <th class="black-square"></th>
      </tr>
      <tr>
        <th class="place">6</th>
        <th class="black-square"></th>
        <th class="white-square"></th>
        <th class="black-square"></th>
        <th class="white-square"></th>
        <th class="black-square"></th>
        <th class="white-square"></th>
        <th class="black-square"></th>
        <th class="white-square"></th>
      </tr>
      <tr>
        <th class="place">7</th>
        <th class="white-square"><i class="fas fa-chess-pawn"></i></th>
        <th class="black-square"><i class="fas fa-chess-pawn"></i></th>
        <th class="white-square"><i class="fas fa-chess-pawn"></i></th>
        <th class="black-square"><i class="fas fa-chess-pawn"></i></th>
        <th class="white-square"><i class="fas fa-chess-pawn"></i></th>
        <th class="black-square"><i class="fas fa-chess-pawn"></i></th>
        <th class="white-square"><i class="fas fa-chess-pawn"></i></th>
        <th class="black-square"><i class="fas fa-chess-pawn"></i></th>
      </tr>
      <tr>
        <th class="place">8</th>
        <th class="black-square"><i class="fas fa-chess-rook"></i></th>
        <th class="white-square"><i class="fas fa-chess-knight"></i></th>
        <th class="black-square"><i class="fas fa-chess-bishop"></i></th>
        <th class="white-square"><i class="fas fa-chess-king"></i></th>
        <th class="black-square"><i class="fas fa-chess-queen"></i></th>
        <th class="white-square"><i class="fas fa-chess-bishop"></i></th>
        <th class="black-square"><i class="fas fa-chess-knight"></i></th>
        <th class="white-square"><i class="fas fa-chess-rook"></i></th>
      </tr>
    </table>
  </body>
</html>
