// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: white;
}
.no-border {
  border: 1px solid white;
 }

#board {
  border: 1px solid white;
  margin: auto;
}

#board-border {
  border: none;
}

th, td {
  border: 1px solid black;
  padding: 10px;
}

#white-piece {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#black-piece {
  color: black;
}

.white-square {
  background-color: #F0D9B5;
  height: 80px;
  width: 80px;
  font-size: 44px;
}

.black-square {
  background-color: #B58863;
  height: 80px;
  width: 80px;
  font-size: 44px;
}

.black-square:hover {
  border: 1px solid white;
}

.white-square:hover {
  border: 1px solid white;
}
